.load-more-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    
}
.product-container {
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
}
.product{
    padding: 20px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.product img {
    width: 200px;
    height: 200px;

}